<header id="gh-head" class="gh-head gh-outer">
    <div class="gh-head-inner">
        <div class="gh-head-brand">
            <div class="gh-head-brand-wrapper">
                <a class="gh-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
            <button class="gh-burger"></button>
        </div>

        <nav class="gh-head-menu">
            {{navigation}}
        </nav>

        <div class="gh-head-actions">
            <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
            {{#unless @member}}
                <a class="gh-head-btn gh-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
            {{else}}
                <a class="gh-head-btn gh-btn" href="#/portal/account" data-portal="account">Account</a>
            {{/unless}}
        </div>
    </div>
</header>